body {
  font-family: 'microsoft yahei', sans-serif;
}
a {
  color: #000000;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #e61374;
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1080px;
  margin: 0 auto;
  background-color: #ffffff;
}
.c {
  width: 1100px;
  margin: 0 auto;
  margin-top: -4px;
  background-color: #ffffff;
}
.logo {
  width: 1080px;
  margin: 0 auto;
  height: 160px;
  overflow: hidden;
  background-color: #ffffff;
}
.t1 {
  width: 1080px;
  margin: 0 auto;
  height: 30px;
  padding: 5px 0;
  line-height: 30px;
  background-color: #ffffff;
}
.t1 .t1_l {
  float: left;
  height: 30px;
  overflow: hidden;
}
.t1 .t1_l span {
  background: url("../img/t1_icon.png") 0 -90px no-repeat;
  width: 30px;
  height: 30px;
  float: left;
}
.t1 .t1_l .news_ul {
  width: 825px;
  height: 30px;
  float: left;
  overflow: hidden;
  position: relative;
}
.t1 .t1_l .news_ul ul {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
}
.t1 .t1_l .news_ul ul li {
  width: 825px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.t1 .t1_r {
  float: right;
}
.t1 .t1_r .bshare-custom {
  float: left;
}
.t1 .t1_r a {
  margin-left: 10px;
  display: inline-block;
  background: url("../img/t1_icon.png") no-repeat;
  text-indent: -9999px;
  height: 30px;
  width: 35px;
  position: relative;
}
.t1 .t1_r .sina {
  background-position: 0 0;
  padding: 0;
}
.t1 .t1_r .wx {
  background-position: 0 -30px;
}
.t1 .t1_r .m {
  background-position: 0 -60px;
  width: 80px;
}
.t1 .t1_r .sina:hover {
  background-position: -80px 0;
}
.t1 .t1_r .wx:hover {
  background-position: -80px -30px;
}
.t1 .t1_r .m:hover {
  background-position: -80px -60px;
}
.t1 .t1_r .ewm_m {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  width: 115px;
  height: 115px;
  z-index: 9999;
}
.t1 .t1_r .ewm_wx {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  width: 115px;
  height: 115px;
  z-index: 9999;
}
.t2 {
  width: 1080px;
  margin: 0 auto;
  height: 80px;
  border-top: 4px solid #000000;
  border-bottom: 1px solid #dadada;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}
.t2 .t2_item {
  width: 154px;
  height: 28px;
  padding: 26px 0;
  float: left;
  position: relative;
}
.t2 .t2_item .nav_a {
  width: 153px;
  text-align: center;
  font-size: 30px;
  line-height: 28px;
  float: left;
  border-right: 1px solid #dadada;
}
.t2 .t2_item .t2_list {
  display: none;
  border: 1px solid #dadada;
  background-color: #ffffff;
  padding: 8px 0;
  position: absolute;
  top: 80px;
  left: 0px;
  width: 152px;
  z-index: 10;
}
.t2 .t2_item .t2_list a {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
}
.t2 .t2_item span {
  display: none;
  position: absolute;
  width: 22px;
  height: 13px;
  top: 73px;
  left: 50%;
  margin-left: -11px;
  background: url("../img/t1_icon.png") -80px -100px no-repeat;
  z-index: 11;
}
.t2 .last .nav_a {
  border: none;
}
.cm {
  height: 50px;
  line-height: 50px;
  clear: both;
}
.cm span.cur {
  color: #e61374;
  margin-left: 5px;
}
.cm a,
.cm span {
  color: #666666;
  margin: 0 5px;
}
.cm a:hover {
  color: #e61374;
}
.ad_1080x140 {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}
.ad_1100x140 {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.ad_300x500 {
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.ad_300x485 {
  width: 300px;
  height: 485px;
  margin: 0 auto;
  overflow: hidden;
}
.ad_300x220 {
  width: 300px;
  height: 220px;
  margin: 0 auto;
  overflow: hidden;
}
.mt20 {
  margin-top: 20px;
}
.mt60 {
  margin-top: 60px;
}
/* gotop */
.top_sidebar {
  display: none;
  background-color: #efefef;
  width: 50px;
  position: fixed;
  z-index: 9997;
  left: 50%;
  margin-left: 550px;
  bottom: 0px;
  padding: 0 8px;
  _position: absolute;
  _bottom: 0px;
}
.top_sidebar a {
  display: block;
  width: 50px;
  height: 50px;
  padding: 5px 0;
  margin-bottom: 1px;
  border-top: 1px solid #dadada;
  position: relative;
}
.top_sidebar a i.arrow {
  display: block;
  position: absolute;
  top: 23px;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 9px solid transparent;
  left: -26px;
  border-right-color: #efefef;
}
.top_sidebar a span {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/top.png) no-repeat;
}
.top_sidebar a span.wb {
  background-position: 0 0;
}
.top_sidebar a span.wx {
  background-position: 0 -50px;
}
.top_sidebar a span.hi {
  background-position: 0 -100px;
}
.top_sidebar a span.top {
  background-position: 0 -150px;
}
.top_sidebar a:first-child {
  border: none;
}
.top_sidebar a:hover {
  color: #000;
}
.top_sidebar a:hover span.wb {
  background-position: -50px 0;
}
.top_sidebar a:hover span.wx {
  background-position: -50px -50px;
}
.top_sidebar a:hover span.hi {
  background-position: -50px -100px;
}
.top_sidebar a:hover span.top {
  background-position: -50px -150px;
}
.top_sidebar .bshare-custom .bshare-sinaminiblog {
  display: block;
  width: 50px;
  height: 50px;
  padding: 5px 0;
  border: none;
  background: url(../img/top.png) 0 0 no-repeat;
}
.top_sidebar .bshare-custom .bshare-sinaminiblog:hover {
  background-position: -50px 0;
}
.top_sidebar .ewm_wx,
.top_sidebar .ewm_hi {
  display: none;
  width: 130px;
  height: 180px;
  padding: 10px;
  background-color: #efefef;
  position: absolute;
  top: -60px;
  left: -165px;
  z-index: 9999;
}
.top_sidebar .ewm_wx p,
.top_sidebar .ewm_hi p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
.top_sidebar .ewm_hi {
  top: -80px;
}
.footer {
  border-top: 1px solid #dadada;
  clear: both;
  margin: 60px auto 0 auto;
  overflow: hidden;
  padding: 25px 2px 60px 3px;
  width: 1075px;
}
.footer .f_l {
  width: 345px;
  float: left;
}
.footer .f_l .f_logo {
  width: 350px;
  height: 50px;
  background: url("../img/foot_logo.png") 0 0 no-repeat;
  display: block;
}
.footer .f_l .f_share {
  margin: 35px 0 75px 0;
}
.footer .f_l .f_share .bshare-custom {
  height: 20px;
}
.footer .f_l .f_share .bshare-custom a {
  padding-left: 24px;
  margin-right: 8px;
  height: 20px;
  display: inline-block;
}
.footer .f_l .f_share .bshare-custom .bshare-sinaminiblog {
  background: url("../img/share_icon.png") no-repeat 0 0;
}
.footer .f_l .f_share .bshare-custom .bshare-qqmb {
  background: url("../img/share_icon.png") no-repeat 0 -20px;
}
.footer .f_l .f_share .bshare-custom .bshare-weixin {
  background: url("../img/share_icon.png") no-repeat 0 -40px;
}
.footer .f_l .f_share .bshare-custom .bshare-qqim {
  background: url("../img/share_icon.png") no-repeat 0 -60px;
}
.footer .f_l .f_share .bshare-custom .bshare-douban {
  background: url("../img/share_icon.png") no-repeat 0 -80px;
}
.footer .f_l .f_share .bshare-custom .bshare-sinaminiblog:hover {
  background: url("../img/share_icon.png") no-repeat -25px 0;
}
.footer .f_l .f_share .bshare-custom .bshare-qqmb:hover {
  background: url("../img/share_icon.png") no-repeat -25px -20px;
}
.footer .f_l .f_share .bshare-custom .bshare-weixin:hover {
  background: url("../img/share_icon.png") no-repeat -25px -40px;
}
.footer .f_l .f_share .bshare-custom .bshare-qqim:hover {
  background: url("../img/share_icon.png") no-repeat -25px -60px;
}
.footer .f_l .f_share .bshare-custom .bshare-douban:hover {
  background: url("../img/share_icon.png") no-repeat -25px -80px;
}
.footer .f_l .f_b {
  color: #999999;
}
.footer .f_r {
  float: right;
  color: #999999;
  width: 730px;
}
.footer .f_r a {
  color: #555555;
}
.footer .f_r a:hover {
  color: #ed207b;
}
.footer .f_r .f_link {
  float: left;
  display: inline;
  overflow: hidden;
}
.footer .f_r .f_link dt {
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.footer .f_r .f_link dd {
  font-size: 14px;
  float: left;
  height: 30px;
  line-height: 30px;
}
.footer .f_r .link1 {
  margin-left: 50px;
  width: 300px;
}
.footer .f_r .link1 dd {
  width: 150px;
}
.footer .f_r .link2 {
  margin-left: 5px;
  width: 375px;
}
.footer .f_r .link2 dd {
  width: 75px;
}
.footer .f_r .link3 {
  clear: both;
  margin-top: 25px;
}
.footer .f_r .link3 a {
  font-size: 16px;
  margin-left: 48px;
}
.paging {
  margin: 20px auto 10px;
  text-align: center;
  _height: 30px;
}
.paging a,
.paging span {
  display: inline-block;
  height: 28px;
  border: 1px solid #cfcfcf;
  line-height: 28px;
  padding: 0 11px;
  text-align: center;
  margin: 3px;
  vertical-align: middle;
}
.paging a:hover {
  border: 1px solid #ed207b;
  background-color: #ed207b;
  color: #ffffff;
  text-decoration: none;
}
.paging span {
  border: 1px solid #ed207b;
  background-color: #ed207b;
  color: #ffffff;
  text-decoration: none;
}
.paging .read_all {
  margin-left: 15px;
}
