.cm {
  height: 40px;
}
.pink {
  color: #ed207b;
}
.c_bt {
  height: 50px;
  margin: 40px 0 30px 0;
  overflow: hidden;
}
.c_bt span {
  display: block;
  height: 50px;
  width: 100%;
  text-indent: -9999px;
  background: url("../img/about_bt.jpg") no-repeat;
}
.c_bt .about {
  background-position: 0 0;
}
.c_bt .contact {
  background-position: 0 -50px;
}
.c_bt .zhaopin {
  background-position: 0 -100px;
}
.c_bt .copy {
  background-position: 0 -150px;
}
.c_bt .zazhi {
  background-position: 0 -200px;
}
.c_bt .ipad {
  background-position: 0 -250px;
}
.red_bt {
  border-bottom: 1px solid #cdcdcd;
  height: 28px;
  position: relative;
  margin-bottom: 20px;
}
.red_bt span {
  position: absolute;
  left: 0;
  bottom: -1px;
  border-left: 6px solid #ed207b;
  font-size: 18px;
  height: 20px;
  line-height: 20px;
  padding: 0 0 8px 10px;
  color: #555555;
}
.about_wrap {
  color: #555555;
  line-height: 30px;
}
.about_wrap .about_con {
  font-size: 14px;
  margin-bottom: 50px;
  overflow: hidden;
}
.contact_wrap {
  margin-left: -60px;
  zoom: 1;
  overflow: hidden;
}
.contact_wrap .contact_item {
  float: left;
  margin: 0 0 80px 60px;
  width: 340px;
}
.contact_wrap .icon {
  background: url("../img/contact_icon.png") no-repeat;
  display: inline-block;
  width: 35px;
  height: 40px;
  margin-right: 3px;
}
.contact_wrap .name span,
.contact_wrap .email span,
.contact_wrap .tel span {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  font-size: 14px;
  color: #555555;
}
.contact_wrap .name .icon {
  background-position: 0 0;
}
.contact_wrap .email .icon {
  background-position: 0 -40px;
}
.contact_wrap .tel .icon {
  background-position: 0 -80px;
}
.zhaopin_wrap .zhaopin_list {
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 25px;
}
.zhaopin_wrap .zhaopin_list dt {
  color: #ed207b;
  height: 25px;
  line-height: 25px;
  font-weight: 600;
}
.zhaopin_wrap .zhaopin_list dd {
  color: #555555;
  line-height: 30px;
}
.zazhi_wrap {
  overflow: hidden;
}
.zazhi_wrap .zazhi_con {
  float: left;
  color: #555555;
  font-size: 18px;
  line-height: 35px;
  width: 500px;
  letter-spacing: 2px;
}
.zazhi_wrap .zazhi_con .list {
  margin-top: 25px;
  overflow: hidden;
}
.zazhi_wrap .zazhi_con .list li {
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 600;
  background: url("../img/arrow_icon.png") -130px -96px no-repeat;
  padding-left: 25px;
  margin: 15px 0;
  overflow: hidden;
}
.zazhi_wrap .img {
  float: right;
  width: 580px;
}
.ml40 {
  margin-left: 40px;
}
.btn {
  margin-top: 40px;
  overflow: hidden;
}
.btn .dy_btn {
  width: 200px;
  height: 68px;
  display: inline-block;
  background-color: #ed207b;
  color: #ffffff;
  font-size: 30px;
  line-height: 68px;
  text-align: center;
}
.ipad_wrap {
  position: relative;
  height: 560px;
}
.ipad_wrap .ipad_con {
  float: left;
  color: #555555;
  font-size: 18px;
  line-height: 35px;
  width: 550px;
  letter-spacing: 1px;
  padding-top: 20px;
}
.ipad_wrap .ipad_con .list {
  margin-top: 25px;
  overflow: hidden;
}
.ipad_wrap .ipad_con .list li {
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 600;
  background: url("../img/arrow_icon.png") -130px -96px no-repeat;
  padding-left: 25px;
  margin: 15px 0;
  overflow: hidden;
}
.ipad_wrap .img {
  position: absolute;
  top: -60px;
  right: 0;
  height: 620px;
  width: 450px;
  background: url("../img/ipadbg.jpg") 0 0 no-repeat;
}
.ipad_wrap .img img {
  position: absolute;
  left: 62px;
  top: 50px;
}
