body{
    font-size: 14px;
}
.footer{
    clear: both;
    width: 1000px;
    height: 140px;
}
.footer .foot-nav{
    padding: 20px 0;
}
a:hover{
    color:#CC9900;
}
input:focus { background-color:#f8f8f8; }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset;
}
input::-webkit-input-placeholder {
    font-size: 12px !important;
    color: #888888 !important;
}
input::-moz-placeholder {
    font-size: 12px !important;
    color: #888888 !important;
}
input::-moz-placeholder {
    font-size: 12px !important;
    color: #888888 !important;
}
input:-ms-input-placeholder {
    font-size: 12px !important;
    color: #888888 !important;
}
.apply-left .paging {
    clear: both;
    width: 678px;
    height: 58px;
    text-align: center;
    /*border: 1px #d8d8d8 solid;*/
    border-top: 0;
    position: relative;
}
.paging .page_num{
    display: inline-block;
    width: 492px;
    border-left: 1px #d8d8d8 solid;
    border-right: 1px #d8d8d8 solid;
}
.paging a.prev,.paging a.next{
    width: 62px;
    height: 58px;
    background-image: url(../images/users_arrow.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    position: absolute;
    left: 0;
}
.paging a.next{
    background-position: -82px center;
    left: auto;
    right: 0;
}
.paging a, .paging span {
    display: inline-block;
    height: 58px;
    line-height: 58px;
    padding: 0 10px;
    text-align: center;
    margin: 0 3px;
    color:#888888;
}
.paging a.current {
    font-size: 20px;
    color: #000000;
}
.apply-left .paging-block{
    padding: 0 0 30px 0;
}
.paging-block a{
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    background-color: #dddddd;
    color: #ffffff;
    font-size: 12px;
}
.paging-block a.current{
    background-color: #daa521;
    font-size: 12px;
    color: #ffffff;
}
.paging-block a.prev,.paging-block a.next{
    background-image: url(../images/paging-arrow.png);
    width: 20px;
    height: 20px;
    position: relative;
    background-position: 6px center;
}
.paging-block a.next{
    background-position: -45px center;
}
.pos {
    width: 100%;
    padding-left: 10px;
    height: 54px;
    font-size: 13px;
    line-height: 54px;
}
.apply-main {
    width: 100%;
    margin: 20px 0 115px 0;
    float: left;
    /* overflow: hidden; */
}
/*** left ***/
.apply-left {
    width: 678px;
    float: left;
    position: relative;
    border: 1px #d8d8d8 solid;
}
.apply-left .left-list li{
    clear: both;
    height: 219px;
    overflow: hidden;
    border-bottom: 1px #d8d8d8 solid;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.apply-left .left-list li.hide{
    height: 0;
    border-bottom: 0;
}
.collect .apply-left .left-list li:hover{
    cursor: pointer;
}
.apply-left .left-list .list-lf{
    width: 220px;
    float: left;
}
.apply-left .left-list .list-rt{
    width: 420px;
    padding: 30px 20px 0 0;
    float: right;
    position: relative;
}
.apply-left .left-list .list-rt .article-tit{
    font-size: 22px;
    line-height: 28px;
}
.apply-left .left-list .list-rt .article-txt{
    line-height: 20px;
    margin: 15px 0 30px 0;
}
.apply-left .left-list .list-rt .article-tab{
    font-size: 12px;
}
.apply-left .left-list .list-rt .article-tab span{
    display: inline-block;
    margin-left: 10px;
}
.apply-left .left-list .list-rt .cancel{
    display: none;
    position: absolute;
    right: 20px;
    bottom: 0;
    color: #ff0000;
}
/*** right ***/
.apply-right{
    width: 300px;
    float: right;
}
.applying-nav{
    width: 100%;
    height: 89px;
    border-bottom: 1px #d8d8d8 solid;
}
.applying-nav .nav-tit{
    height: 48px;
    background: url(../images/trying-tit.png) no-repeat 25px -66px;
}
.applying-nav .nav-c{
    width: 100%;
    height: 23px;
    border-top: 1px #d8d8d8 solid;
    background-color: #f8f8f8;
    padding: 8px 0;
}
.applying-nav .nav-c a{
    display: block;
    width: 100px;
    height: 24px;
    border-left: 1px #d8d8d8 solid;
    line-height: 24px;
    text-align: center;
    float: left;
}
.applying-nav .nav-c a.cur{
    color:#F00B0B;
}
.applying-nav .nav-c a:nth-child(1){
    border-left: 0;
    padding: 0 5px;
}
.applying-nav .nav-c a:hover{
    color:#F00B0B;
}
.apply-right{
    position: relative;
}
.apply-right .author-info{
    width: 260px;
    height: 430px;
    padding: 0 20px;
    background-color:#f8f8f8;
    text-align: center;
    padding-top: 50px;
    color:#333333;
}
.apply-right .author-info .author-avt{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.apply-right .author-info .author-name{
    display:block;
    height: 50px;
    line-height: 60px;
    font-size: 22px;
}
.apply-right .author-info .author-edit{
    display:block;
    color:#666666;
}
.apply-right .author-info .author-num{
    font-size: 16px;
    height: 70px;
    line-height: 70px;
}
.apply-right .author-info .author-num span{
    display:block;
    width: 28%;
    float:left;
    padding-left: 10px;
}
.apply-right .author-info .author-num a{
    text-decoration: underline;
}
.apply-right .author-info .author-sign{
    clear:both;
    display:block;
    font-size: 12px;
    color:#666666;
    text-align:left;
    line-height: 20px;
}
.apply-right .report-share {
    position: relative;
    width: 155px;
    height: 45px;
    bottom: auto;
    left: auto;
    float: right;
    padding: 10px 0;
}
.apply-right .report-share span {
    float: left;
    line-height: 45px;
}
.apply-right .report-share a span{
    display: block;
    width: 45px !important;
    height: 45px !important;
    padding-left: 0 !important;
    float: left;
    margin-left: 10px;
    background-image: url(../images/sina_icon.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0;
}
.apply-right .report-share a.jiathis_button_weixin span{
    background-position: -55px 0;
}
/**** user edit ****/
.users-edit .applying-nav .nav-tit{
    background: url(../images/trying-tit.png) no-repeat 25px -146px;
}
.users-edit .edit-tab{
    padding: 15px 0 85px 0;
}
form .form-div{
    clear: both;
    width: 420px;
    min-height: 28px;
    line-height: 28px;
    margin: 20px auto;
    position: relative;
}
form .form-div span.form-tit{
    display: inline-block;
    width: 60px;
    padding-right: 15px;
    text-align: right;
    float: left;
}
form .form-div span.form-tit em{
    color:#ef0000;
    /*vertical-align: sub;*/
}
form .form-div input[type="text"],form .form-div select,form .form-div textarea{
    width: 278px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    border: 1px #d8d8d8 solid;
    background-color: #f8f8f8;
    color:#888888;
    padding-left: 10px;
}
form .form-div select{
    width: 288px;
}
form .form-div textarea{
    width: 308px;
    height: 98px;
    resize: none;
    line-height: 20px;
}
form .form-div a.radio{
    display: inline-block;
    width: 35px;
    text-align: left;
    padding-left: 35px;
    background-image: url(../images/radio2.jpg);
    background-repeat: no-repeat;
    background-position: 15px -28px;
}
form .form-div a.radio:hover{
    color: #000000;
}
form .form-div a.cur{
    background-position: 15px 6px;
}
form .form-div input#address{
    margin: 20px 0 0 75px;
}
form .form-div.three-sel select{
    width: 98px;
    height: 28px;
    margin-right: 8px;
}
form .form-div .check_code{
    margin: 10px 0 0 75px;
}
form .form-div .check_code a{
    padding: 0 10px;
}
form .form-submit{
    width: 100%;
    text-align: center;
}
form .form-submit input,form .form-div .submit-btn{
    width: 230px;
    height: 40px;
    color: #ffffff;
    font-size: 18px;
    background-color: #f00b0b;
    text-align: center;
    line-height: 40px;
    border: 0;
    margin: 0 auto;
}
form .form-submit input[type=submit]{
    width: 178px;
}
/** tab info **/
.avt-tab form .avt-img{
    text-align: center;
}
.avt-tab form input{
    opacity: 0;
    font-size: 0;
    width: 230px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -115px;
    z-index: 100;
}
.avt-tab form input:hover{
    cursor: pointer;
}
.avt-tab form .form-div span{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 30px;
}
/***** news ****/
.news .applying-nav .nav-tit{
    background: url(../images/trying-tit.png) no-repeat 25px -226px;
}
.news .applying-nav .nav-c span{
    float: right;
    margin-right: 25px;
    color: #888888;
    cursor: pointer;
}
.news .apply-left .left-list li{
    height: auto;
    min-height: 119px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.news .apply-left .left-list li.hide{
    height: 0;
    min-height: 0;
    border-bottom: 0;
}
.news .apply-left .left-list li .li-c{
    padding: 15px 20px;
    color: #222222;
}
.news .apply-left .left-list li .li-c p.news-c{
    margin-bottom: 20px;
}
.news .apply-left .left-list li .li-c p span.del{
    float: right;
    color: #888888;
    cursor: pointer;
}