#SmNewsBar {
  background-color: #ed207b;
}
header #source {
  padding-left: 0px;
  color: #e61375;
}
header .subtitle time {
  padding-left: 6px;
}
p .tag {
  height: 24px;
  line-height: 24px;
  background-color: #ed207b;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  padding: 0 10px;
  margin: 0 auto;
}
p .pink {
  color: #ed207b;
}
